//config
// $enable-responsive-font-sizes: true;
$text-color: black;
// $body-bg: #fff;
// $link-color: #0a0b13;
// $light-white: rgb(197, 197, 197);
$primary: #dd1d29;
// $secondary: #363a52;
// $dark: #1a1d2e;
// $light-grey: #7f838e;
$light-blue: #0091ff;

// $danger: #dd1d29;
// $warning: #ffba00;
// $success: #049e5d;
$info: $light-blue;

// $border-radius-lg: 0.6rem;

// * navbar
// $navbar-dark-color: #ffffff;
// $navbar-dark-hover-color: $primary;
// $navbar-dark-active-color: $primary;
// $navbar-padding-y: 1rem;
// $navbar-nav-link-padding-x: 1.25rem;
// $nav-link-padding-y: 0.35rem;

// * typography
// $font-size-base: 1rem;
// $font-size-lg: $font-size-base * 1.25;
// $font-size-sm: $font-size-base * 0.875;
// $display1-size: 30px;
// $display2-size: 28px;
// $display3-size: 26px;
// $display4-size: 24px;
// $paragraph-margin-bottom: 0;

// * inputs
$input-bg: #2b3144;
$input-border-color: $input-bg;
$input-group-addon-bg: $input-bg;
// $input-focus-border-color: $primary;
// $input-color: #fff;
// $custom-control-label-color: $input-color;
// $custom-checkbox-indicator-border-radius: 2px;
// $input-disabled-bg: lighten($dark, 10%);

// * list groups
// $list-group-bg: transparent;
// $list-group-border-color: transparent;
// $list-group-item-padding-y: 0.5rem;

// * dropdonw
// $dropdown-border-radius: 0;
// $dropdown-min-width: 100%;
// $dropdown-bg: #121522;
// $dropdown-color: $primary;
// $dropdown-border-color: $dropdown-bg;
// $dropdown-border-width: 0;
// $dropdown-inner-border-radius: 0;
// $dropdown-link-hover-bg: $primary;
// $dropdown-link-hover-color: #fff;
// $dropdown-link-color: #fff;
// $dropdown-item-padding-y: 0.5rem;

// * modals
// $modal-content-color: #fff;
// $modal-content-bg: $dark;
// $modal-content-border-color: $dark;
// $modal-header-border-color: $dark;
// $close-font-size: 2rem;
// $close-font-weight: 400;
// $close-color: #fff;

// * switch
$custom-switch-width: 2.5rem;
$custom-switch-height: 1.25rem;
// $custom-switch-indicator-size: 1rem;
// $custom-switch-indicator-border-radius: 25px;

// * table
// $table-cell-padding: 1.25rem;

// $container-max-widths: (
// 	sm: 540px,
// 	md: 720px,
// 	lg: 960px,
// 	xl: 1240px,
// );
// $grid-gutter-width: 30px;
// $grid-breakpoints: (
// 	xs: 0,
// 	sm: 576px,
// 	md: 768px,
// 	lg: 992px,
// 	xl: 1200px,
// );
