@import './variables.scss';
// @import './fonts.scss';
@import './nprogress';
@import './bootstrap/scss/bootstrap.scss';

html {
	-moz-scroll-behavior: smooth;
	scroll-behavior: smooth;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $text-color;
}

.input-group-prepend,
.input-group-append {
	background: $input-group-addon-bg;
}
a:hover {
	text-decoration: none;
}
